BOT_TOKEN=8644394082:AAEAa0xJWR9Sva0seVVoFVMr8FEeGhUcd18
BOT_USERNAME=ghost_vpn_bot
ADMIN_IDS=0
ADMIN_PASSWORD=admin123
SUPPORT_USERNAME=support
PAYMENT_DETAILS=Не настроено
PRICE_1_MONTH=299
PRICE_3_MONTHS=799
PRICE_6_MONTHS=1399
PRICE_12_MONTHS=2499
XUI_URL=https://38.135.55.114:47506/gzlo4U8pXpOQV9287y
XUI_USERNAME=
XUI_PASSWORD=
XUI_API_TOKEN=
XUI_HOST=38.135.55.114
XUI_PORT=47506
REFERRAL_BONUS_DAYS=5
TRIAL_DAYS=1
PARTNER_PERCENT=30
PARTNER_MIN_WITHDRAWAL=2000
